<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.hdls.dgame.mzw" android:theme="@android:style/Theme.NoTitleBar" android:versionName="1.0" android:versionCode="1" android:installLocation="preferExternal">
  <supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" android:anyDensity="true" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.READ_LOGS"/>
  <application android:icon="@drawable/app_icon" android:label="@string/app_name" android:debuggable="false">
    <activity android:label="@string/app_name" android:screenOrientation="landscape" android:launchMode="singleTask" android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale" android:name="com.hdls.dgame.mzw.UnityPlayerNativeActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
        <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
      </intent-filter>
      <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
      <meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="false" />
    </activity>
    <activity android:name="com.muzhiwan.sdk.MzwActivity" android:configChanges="keyboardHidden|navigation|orientation" android:windowSoftInputMode="adjustResize">
    </activity>
    <activity android:name="com.inject_tencent.tauth.TAuthView" android:configChanges="keyboardHidden|navigation|orientation" android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="auth" />
      </intent-filter>
    </activity>
    <activity android:name="com.muzhiwan.sdk.DialogActivity" android:configChanges="keyboardHidden|navigation|orientation" android:theme="@android:style/Theme.Translucent" android:windowSoftInputMode="adjustResize">
    </activity>
    <!-- alipay sdk begin -->
    <activity android:name="com.alipay.sdk.app.H5PayActivity" android:configChanges="orientation|keyboardHidden|navigation" android:exported="false" android:screenOrientation="behind" android:windowSoftInputMode="adjustResize|stateHidden">
    </activity>
    <!-- alipay sdk end -->
    <meta-data android:name="MZWAPPKEY" android:value="caf6381f2876dc7c483902adcfad0ea0" />
    <!--meta-data android:name="DEBUG" android:value="true" /-->	

	<!-- 添加DataEye需要配置的Meta start -->
	<!-- DC_APPID 是一组32位的代码，可以在g.dataeye.com创建游戏后获得. -->
	<!-- “YOUR_APPID”的部分要按照实际情况设置，一定要记得替换哦 -->
	<meta-data android:value= "EBEB6114D9AB8FBC3162BD30BACFF447" android:name="DC_APPID"/>
	
	<!-- DC_CHANNEL对应于您的发布渠道，不同渠道需要做相应的修改 -->
	<!-- “YOUR_CHANNEL_ID”的部分要按照实际情况设置，一定要记得替换哦 -->
	<meta-data android:value="YOUR_CHANNEL_ID" android:name="DC_CHANNEL"/>
	<!-- 添加DataEye需要配置的Meta end -->


  </application>
  <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="20" />
  <uses-feature android:glEsVersion="0x00020000" />
  <uses-permission android:name="android.permission.READ_LOGS" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.RECEIVE_SMS" />
  <uses-permission android:name="android.permission.GET_TASKS" />
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
  <uses-feature android:name="android.hardware.camera" android:required="false" />
  <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
  <uses-feature android:name="android.hardware.camera.front" android:required="false" />
  <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
  <uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="false" />
  <uses-feature android:name="android.hardware.touchscreen.multitouch.distinct" android:required="false" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
</manifest>